[Unit]
Description=DevOps Service
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
Restart=always
ExecStart=/usr/bin/python3.11 "<path to main.py>"

[Install]
WantedBy=multi-user.target